*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS dell'header */
#img_logo{
    margin: 10px 2px 10px 20px;
    display: inline-block;
    vertical-align: middle;
}

#list_title{
    display: inline-block;
    vertical-align: middle;
}

/* CSS dei button */
button{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid grey;
}

#add_task{
    background-color: #4d98fa;
    color: white;
}

/* CSS del main */
main{
    background-color: rgba(211, 211, 211, 0.3)
}

.main_container{
    max-width: 1500px;
    margin: 0 auto;
}

.button_div{
    padding: 15px 512px;    margin: 30px 10px 1px 30px;
    background-color: white;
    display: inline-block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* CSS della lista */
ul{
    list-style-type: none;
}
ol{
    list-style-type: none;
}
.list{
    margin: 1px 10px 30px 30px;
    background-color: white;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 1.6;
    width: 1178px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.attachment{
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: xx-small;
    margin-left: 3px;
    vertical-align: middle;
}

.editorial{
    background-color: #4d98fa;
}

.goals{
    background-color: darkorchid;
}

.recruiting{
    background-color: darkolivegreen;
}

.mobile{
    background-color: orange;
}

.website{
    background-color: palevioletred;
}

.sales{
    background-color: rgb(150, 214, 0);
}
