*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS dell'header */
#img_logo{
    margin: 10px 2px 10px 20px;
    display: inline-block;
    vertical-align: middle;
}

#list_title{
    display: inline-block;
    vertical-align: middle;
}

#add_task{
    background-color: #4d98fa;
    color: white;
}

/* CSS del main */
main{
    background-color: rgba(211, 211, 211, 0.3)
}

.main_container{
    max-width: 1500px;
    margin: 0 auto;
}

.button_div{
    padding: 15px 500px;    margin: 30px 10px 1px 30px;
    background-color: blue;
    display: inline-block;
}

.list {
    padding: 20px 445px;
    margin: 1px 10px 30px 30px;
    background-color: red;
    display: inline-block;
}